body {
  background-color: var(--background-color);
  color: var(--text-primary);
}

.module-header, .module-footer {
padding: 2rem;
  background-color: var(--background-color);
  border-radius: 1px;
  box-shadow: var(--box-shadow-login);
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.btn-info{
  background-color: var(--btn-warning-bg);
  color: white;
}
  


.timeline-container {
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 1px;
  box-shadow: var(--box-shadow-login);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.topic-section {
  margin-bottom: 2rem;
  position: relative;
}

.topic-header {
  background-color: var(--secondary-color);
  color: var(--btn-warning-color);
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 1.1rem;
}

.timeline-items {
  position: relative;
  padding-left: 40px;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 15px;
  width: 2px;
  height: 100%;
  background-color: #ccc; 
}

.timeline-entry {
  position: relative;
}

.timeline-icon {
  position: absolute;
  left: 5px;
  top: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--btn-warning-color); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 1;
}

.accordion-item {
  border: 1px solid var(--primary-color);
  border-radius: var(--btn-border-radius);
  overflow: hidden;
}

.accordion-button {
  padding-left: 2.5rem;
  padding-right: 1rem !important;
  align-items: center;
}

.accordion-button::after {
  display: none !important;
}

.btn-link {
  text-decoration: none !important;
  color: var(--primary-color);
    pointer-events: none;
  cursor: default;
  font-size: 0.7rem;
  padding: 0.2rem 0.6rem;
  text-transform: uppercase;
}

.type-badge {
  pointer-events: none;
  cursor: default;
  font-size: 0.7rem;
  padding: 0.2rem 0.6rem;
  text-transform: uppercase;
  
  border-radius: 4px;
  background-color: transparent;
}
