<div class="login-container d-flex align-items-center justify-content-center">
    <div class="login-box text-center shadow">

        <!-- Logo Bar -->
        <div class="logo-bar header-bg text-white py-2">
            <h4 class="m-0">Trendify Digital<sup style="font-size: 10px;">BETA</sup></h4>
            <small>Digital Marketing Training</small>
        </div>

        <!-- Login Form -->
        <div class="login-content p-4">
            <h5 class="mb-4">Student Access Panel</h5>

            <form [formGroup]="loginForm" (ngSubmit)="Login()">
                <!-- Student ID -->
                <div class="mb-3 text-start">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                        <input type="text" class="form-control" placeholder="Student ID" formControlName="studentId">
                    </div>
                    <div *ngIf="loginForm.get('studentId')?.touched && loginForm.get('studentId')?.invalid"
                        class="text-danger small mt-1">
                        Student ID is required.
                    </div>
                </div>

                <!-- Password -->
                <div class="mb-4 text-start">
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password">
                    </div>
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
                        class="text-danger small mt-1">
                        Password is required.
                    </div>
                </div>

                <!-- Buttons -->
                <div class="d-flex justify-content-end gap-2 pt-1">
                    <button type="submit" class="btn btn-custom-warning square-btn text-white">
                        Sign in
                    </button>
                    <a href="#" class="btn btn-light border square-btn text-nowrap px-3 py-2 text-dark">
                        Forget Password?
                    </a>

                </div>
            </form>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3 py-2">
                {{ errorMessage }}
            </div>

            <!-- Footer -->
            <div class="mt-4 text-muted small">
                © 2015 - 2025 Trendify Digital.
            </div>
        </div>
    </div>
</div>